#spinner-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.spinner {
  font-size: 140px;
  animation: rotate 3s linear infinite;
  line-height: 100vh;
  text-align: center;
}

.spinner:after {
  content: '◌';
}

#content {
  display: none;
  flex-direction: column;
  align-items: center;
}

#chart {
  border: 1px solid black;
  display: none;
}

@keyframes rotate {
  to {
    transform: rotate(359deg);
  }
}